.sidebar {
    height: 100vh;
    background-color: #00006d;
    transition: width 0.3s ease;
  }
  
  .sidebar.collapsed {
    width: 80px;
  }
  
  .title {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: bold;
  }
  
  .toggleButton {
    margin-left: auto;
    padding: 10px;
    background-color: #00006d;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      position: fixed;
      z-index: 1000;
      height: 100%;
      width: 80%;
      transition: width 0.3s ease;
    }
  
    .sidebar.collapsed {
      width: 0;
    }
  }
  